.nara{
  background-color: orange ;
  border: 1px solid black ;
}

.rojo{
  background-color: red ;
  border: 1px solid black ;
}
.azul{
  background-color: aqua ;
  border: 1px solid black ;
}

.lat{
  background-color: yellow ;
  border: 1px solid black ;
}

.ver{
  background-color: green ;
  border: 1px solid black ;
}
.mor{
  background-color: purple ;
  border: 1px solid black ;
}
body{
  text-align: center ;
}